img {
    width: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
    background: url (https://ak5.picdn.net/shutterstock/videos/15389950/thumb/10.jpg?i10c=img.resize(height:160)) no-repeat center center;
    background-size: cover;
}

