img {
    width: 300px;
}

body {
    background: url(http://eskipaper.com/images/portal-wallpaper-5.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
    font-family: "Impact";
}
